body {
    font-family: "Poppins", sans-serif;
    color: #5E6282;
}

header div:first-child > div:first-child > div:first-child {
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #181E4B;
}

header ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #181E4B;
}


section:first-of-type > div > div:first-child p:first-of-type {
    font-weight: 700;
    color: #FA7436;
    text-transform: uppercase;
}

section:first-of-type h1 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #14183E;
}

section:first-of-type > div > div:first-child p:nth-of-type(2) {
    font-weight: 500;
}

section:first-of-type a {
    font-weight: 500;
}

section:first-of-type span {
    font-weight: 500;
}

section h2 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #14183E;
}

section p:first-of-type {
    font-weight: 600;
}

section:nth-of-type(2) h3 {
    font-weight: 600;
    color: #1E1D4C;
}

section:nth-of-type(2) p {
    font-weight: 500;
}

section:nth-of-type(3) > div > div:nth-child(3) > div > div:nth-child(2) > div span {
    font-weight: 500;
    color: #5E6282;
}

section:nth-of-type(3) > div > div:nth-child(3) p {
    font-weight: 500;
}

section:nth-of-type(4) h4 {
    font-weight: 700;
    color: #5E6282;
}

section:nth-of-type(4) h5 {
    font-weight: 500;
    color: #000000;
}

section:nth-of-type(4) h6 {
    font-weight: 600;
    color: #080809;
}

section:nth-of-type(5) > div > div:nth-child(2) > div:first-child > p {
    font-style: italic;
    font-weight: 500;
}

section:nth-of-type(5) h4 {
    font-weight: 600;
    color: #38373A;
}

section:nth-of-type(5) span {
    font-weight: 500;
}

section:nth-of-type(7) h3 {
    font-weight: 600;
}

section:nth-of-type(7) button {
    font-weight: 600;
}

footer > div:first-child > div:first-child > div:first-child {
    font-family: "Volkhov", serif;
    font-weight: 700;
}

footer h4 {
    font-weight: 700;
    color: #080809;
}

footer ul li a {
    font-weight: 500;
}

footer p:last-of-type {
    font-weight: 500;
}
